{
  "extends": [
    "standard-react",
    "standard"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ]
  }
}
